<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
<h1 style="color: rgb(224, 20, 255);">
This is home page
</h1>
<p>
Welcome to EJS templating engine
</p>
<h3>
    calculation
</h3>
<p><%= 3+10 %></p> 

<!-- here output will be 13 not 3+10 -->
 <p>3+10</p>
<!-- These are constant data but we use dynamic data in proper servers -->
</html>

<!-- 
We have to make html file for this
-->