.root{
    height:583px;
    width:227px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    padding: 0px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #1d2a38;
    color: white;

    
}
img{
    height: 300px;
    width: 100;
    border-radius: 10px;
    margin: 0 auto;
}
.tab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
}
body{
background-color: #253648;;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#e8f0f8;
border-radius: 999px;
height: 1486px;
width: 824px;
margin: auto;
padding: 28px 18px 68px;

}
button{
 background-color: #16202b;
   color: #E8F0f8;
   font-size: 25px;
   height: 80px;
   width: 250px;
   margin: 10px;
   border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 1.5rem 2.5rem;
  box-sizing: border-box;

}

svg{
    height:50px;
    width:50px;
}
h3{
    font-size: 1.3rem;
    color: #e8f0f8;
    margin: 0;

   
}
p{
    font-size: 1.2rem;
    color: #9fb0c3;
}

