.root{
    min-height:460px;
    width:500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    padding: 0px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #1d2a38;
    color: white;

    
}
img{
    height: 400px;
    width: 100;
    border-radius: 10px;
    margin: 0 auto;
}
.tab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
   
}
body{
background-color: #0b0f14;;
font-family:sans-serif;
color:#e8f0f8;
}