body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

input{
width: 100%;
margin-bottom: 4px;
padding: 10px;
box-sizing: border-box; 
/* look into it by removing */
border: 1px solid #5f9341;
}
button{
    padding: 10px 20px;
    background-color: #5f9341;
    color: white;
    border: none;
    font-weight: bold;
  
}
#box{
    cursor: pointer;
    background: lightseagreen;
    padding: 40px;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 200px;
}
