body{
    background: linear-gradient(to right, rgb(31, 31, 72), rgb(50, 157, 109));
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    box-shadow: 10px 10px 30px white;
height: 400px;
width:400px;
margin: auto;
padding: 100px;
background-color: rgb(31, 31, 72);
}
h1{
    color: white;
}
p{
    color: white;
}
span{
    color: rgb(50, 157, 109);
}
button{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: rgb(50, 157, 109);
    border: none;
}
#password1-el{
  color: white;
    height: 20px;
    width: 150px;
    background-color: rgb(50, 157, 109);
  margin: 10px ;
    padding: 10px;
        border-radius: 5px;

}
#password2-el{
    border-radius: 5px;
color: white;
    height: 20px;
    width: 150px;
    background-color: rgb(50, 157, 109);
    margin: 10px ;
    padding: 10px;
}
.password{
    display: block;
    margin-top: 20px;
    margin-left: 0;
}